.button {
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  background-color: rgb(91, 230, 255);
  /* min-width: 170px; */
  font-size: 1.05rem;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  margin-top: 10px;
  transition: all 0.5s;
}
.button:hover {
  cursor: pointer;
  transition: all 0.5s;
  top: -10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
/*  */

.carousel-item {
  height: 600px;
}

.carousel-captio {
  position: relative;
  display: flex;
  left: 10%;
  width: 350px;
  align-items: center;
  z-index: 1;
  height: 100%;
  color: white;
}
.carousel-item img {
  position: absolute;
  z-index: 0;
  height: 600px;
  object-fit: cover;
}
.carousel-captio h1 {
  /* font: size 3rem; */
}

@media screen and (max-width: 576px) {
  .carousel-item {
    height: 500px;
    background-color: aqua;
  }
  .carousel-captio h1 {
    font-size: 1rem !important;
  }
  .carousel-captio {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(121, 121, 122, 0.708) 1px 1px 5px 0px inset,
      rgba(151, 147, 147, 0.5) -1px -1px 5px 1px inset;
    border-radius: 10px;
    background-color: rgba(252, 252, 252, 0.81);
    color: rgb(0, 0, 0);
    left: 20%;
    top: 60%;
    height: 100px;
    width: 200px;
    text-align: center;
  }
}

/*  */

.testimonial .test-div {
  width: 280px;
  height: 380px;
  background-color: #e8f8f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  border-radius: 12px;
  margin: 60px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.8s;
}
.testimonial .test-img {
  position: relative;
  border-radius: 100px;
  height: 150px;
  width: 150px;
  object-fit: cover;
  position: relative;
  top: 0;
  transition: top ease 1s;
  margin-top: -80px;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.testimonial .test-div:hover {
  transform: scale(1.05);
  background-color: #a3e4d7;
  box-shadow: none;
  cursor: pointer;
}
.testimonial .test-div:hover .test-img {
  padding: 10px;
  background-color: #d1f2eb;
  top: -15px;
}
/*  */
.about .firstslide img {
  background-color: #a3e4d7;
  padding: 5px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 1000px;
}

/*  */

.test {
  display: flex;
  justify-content: center;
  align-items: center;
}
.test h1 {
  position: relative;
  z-index: 0;
  font-size: calc(2.7rem + 2.7vw);
  color: #f8f8f8;
  -webkit-text-stroke: 2px #e4e2e2;
  opacity: 0.3;
}
.test h2 {
  /* padding-top: 0px; */
  position: absolute;
  z-index: 1;
  font-size: calc(1.8rem + 1vw);
  opacity: 0.8;
  letter-spacing: 2px;
  color: #0da788;
}
@media screen and (max-width: 576px) {
  .test h1 {
    font-size: calc(1.7rem + 2.1vw);
    -webkit-text-stroke: 1px #e4e2e2;
  }
  .test h2 {
    font-size: calc(1.3rem + 1vw);
  }
  .testimonial .mission .test-div {
    padding: 10px !important;
  }
}

.about .mission .test-div {
  width: 460px;
  background-color: #e8f8f5;
  border-radius: 12px;
  margin: 30px 10px;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 17px;
}
.about .mission .test-div:hover {
  cursor: pointer;
  transform: translateY(-15px);
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.about .mission h2 {
  transition: all 0.8s;
}
.about .mission .test-div:hover h2 {
  transition: all 0.8s;
  margin-left: 22%;
  color: #0da788;
}
.about .mission .test-div img {
  width: 350px;
  padding-bottom: 30px;
}

/*  */
.services .firstslide img {
  width: 500px;
}
.services .mission {
  display: grid;
  grid-gap: 80px 40px;
}
.services .mission .test-div {
  width: 240px;
  /* min-height: 340px; */
  background-color: #d7f7f1;
  padding: 20px 10px 40px 15px;
  border-radius: 12px;
  transition: all 0.8s;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  font-size: 17px;
  line-height: 28px;
}
.services .mission .test-div:hover {
  background-color: #a3e4d7;
  transform: translateY(-15px);
  cursor: pointer;
  box-shadow: none;
}

.services .mission .test-div:hover h4 {
  /* transition: all 0.8s; */
  /* margin-left: 10%; */
  color: #025a48;
}

.services .mission img {
  width: 80px;
  margin-top: -70px;
  margin-left: 10px;
  transition: all 0.8s;
}
.services .mission .test-div:hover img {
  transform: translatex(50px);
}

/*  */
.founding .test-div {
  background-color: #d7f7f1;
  width: 100%;
  font-size: 16.8px;
  line-height: 30px;
  border-radius: 12px;
  padding: 10px 20px;
  margin: 110px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.8s;
}
.founding .test-div:hover {
  background-color: #a3e4d7;
  transform: translateY(-20px);
}
.founding .test-div:hover img {
  transform: translateY(-20px);
}
.founding .test-div img {
  transition: all 0.8s;

  background-color: #0da788;
  object-fit: cover;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  margin-top: -80px;
}

/* ************************************************ */

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 99999s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

input[type="number"] {
  -moz-appearance: textfield;
}

.signup-body {
  position: absolute;
  /* display: flex !important; */
  /* align-items: center !important; */
  /* justify-content: center !important; */
  /* flex-direction: column !important; */
  z-index: 0;
  height: 80vh;
  width: 100%;
  filter: blur(3px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #73ebd3;
  /* border: 3px solid black; */
  background-image: url("https://rare-gallery.com/mocahbig/438535-digital-forest-trees-Sun-fox-cyan.png");
}
.oo {
  height: 60vh;
  /* min-width: 920px; */
  background-color: rgba(253, 253, 253, 0.405);
  /* position: absolute; */
  box-shadow: rgb(255, 255, 255) 3px 3px 6px 0px inset,
    rgb(255, 255, 255) -3px -3px 6px 1px inset;
  border-radius: 12px;
  position: absolute;
  z-index: 1;
  /* background-color: #bd0909f7; */
  /* filter: blur(8px); */
  /* opacity: 0; */
}
.back {
  position: relative;
  z-index: 5;
  /* background-color: rgb(71, 71, 246); */
}
.form-body {
  padding: 60px 0px;
  display: flex;
  width: 100%;
  /* padding: 2.5% 0%; */
  /* margin-top: 3.8rem; */
  /* height: 100%; */
  /* filter: blur(1px); */
  /* background-color: rgba(255, 255, 255, 0.508); */
  /* border-radius: 12px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

  /* background-color: aqua; */
}
.form-img {
  width: 50%;
}
.form-img img {
  /* width: 110%; */
  /* height: 400px; */
  /* object-fit: cover; */
  /* background-color: #025a48 !important; */
}

.form-content h2 {
  letter-spacing: 3px;
  margin-top: 10px;
}

.form-content .input-div {
  margin-top: 30px;
  /* background-color: #0da788; */
  padding-bottom: 3px;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.input-field {
  padding: 8px;
  width: 265px;
  background-color: transparent;
  outline: none;
  border: none;
}

.input-field:focus {
  /* outline: none; */
  /* background: transparent; */
}

.input-field::placeholder {
  color: rgb(0, 0, 0);
  font-size: 17px;
  /* font-weight: 900; */
  padding-left: 10px;
}

.form-content i {
  /* position: relative; */
  font-size: 22px;
  /* z-index: 1; */
  color: rgb(64, 65, 65);
}

.form-content p {
  color: red;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .form-content {
    width: 100%;
  }
  .form-img {
    width: 0% !important;
  }
}

.form-content button {
  /* padding: 7px 24.5px 7px 24.5px; */
  /* margin-bottom: 10px; */
  border: none;
  outline: none;
  font-size: 18px;
  letter-spacing: 1px;
  height: 42px;
  width: 140px;
  /* text-shadow: none; */
  font-weight: 600;
  border-radius: 50px;
  background-color: rgb(3, 148, 192);
  transition: 0.5s ease;
  color: white;
}

.form-content button:hover {
  background-color: rgb(15, 24, 27);
  color: white;
}

.bar {
  display: block;
  position: relative;
  width: 100%;
}

.bar::before,
.bar::after {
  content: "";
  border-bottom: 2px solid rgb(4, 176, 255);
  width: 0px;
  margin-top: 2.1px;
  position: absolute;
  transition: all 0.2s ease;
}

.bar::before {
  left: 50%;
}

.bar::after {
  right: 50%;
}

.input-field:focus ~ .bar::before,
.input-field:focus ~ .bar::after {
  width: 50%;
}

/* *****CONTACT US LOGIN***** */
.jj {
  /* display: grid; */
  grid-gap: 20px;
  background-color: #f4f6f7;
  border: 1px solid black;
}
.contactus .input-div {
  background-color: #ececec94;
  border-radius: 12px;
  /* border: 1px solid greenyellow; */
  margin: 5px 0px 0px 0px;
  width: 310px;
  height: 55px;
  padding: 8px 0px 0px 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.contactus .input-div:hover {
  transition: all 0.5s;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.269);
}

.contactus .input-div i {
  font-size: 25px;
}
.four,
.four1 {
  width: 640px !important;
}
.four1 {
  height: 150px !important;
}
.file {
  height: 70px !important;
}
@media screen and (max-width: 992px) {
  .contactus .input-div {
    width: 100% !important;
  }
}
/* *****CONTACT US LOGIN***** */
